# .travis.yml for readspss.
#
# https://github.com/craigcitro/r-travis/wiki/Porting-to-native-R-support-in-Travis
language: r

matrix:
  include:
    - os: linux
      r: devel
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-9
      env:
        - MATRIX_EVAL="CC=gcc-9 && CXX=g++-9"
      before_install: |
        mkdir ~/.R
        cat <<EOF > ~/.R/Makevars
        CXX11=g++-9
        CXX11STD=-std=c++11

    - os: linux
      r: release
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-9
      env:
        - MATRIX_EVAL="CC=gcc-9 && CXX=g++-9"
      before_install: |
        mkdir ~/.R
        cat <<EOF > ~/.R/Makevars
        CXX11=g++-9
        CXX11STD=-std=c++11

    - os: linux
      r: oldrel
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-9
      env:
        - MATRIX_EVAL="CC=gcc-9 && CXX=g++-9"
      before_install: |
        mkdir ~/.R
        cat <<EOF > ~/.R/Makevars
        CXX11=g++-9
        CXX11STD=-std=c++11

    - os: osx
      r: release
      brew_packages: openssl@1.1 checkbashisms
      before_install: brew uninstall --ignore-dependencies openssl
      env: PKG_CONFIG_PATH="/usr/local/opt/openssl@1.1/lib/pkgconfig"


addons:
  apt:
    packages:
    - libssl-dev


sudo: false
cache: packages

notifications:
email:
on_success: change
on_failure: change
